body{
    background-color: hsl(0, 0%, 8%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container
{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.heading
{
    font-size: 40px;
}

.email-add
{
    font-size: 14px;
    margin-bottom: 15px;
}
.email-input
{
    width:24em;
    height: 3em;
    border-radius: 5px;
    background: transparent;
    border: 1;
    margin-bottom: 15px;
}

.use_phone
{
    color: rgb(68, 200, 7);
    font-weight: 100;
}

.next-btn
{
    margin-top: 30px;
    width: 25em;
    background-color: rgb(68, 200, 7);
    height: 4em;
    border-radius: 30px;
}
a
{
    font-weight: bold;
    color: white;
}
.so-btn
{
    color: white;
    height: 4em;
    width: 25em;
    margin-top: 30px;
    background: transparent;
    border-radius: 30px;
}
.login-link
{
    margin: 30px;
}